<!--Inicio Home-->
<section class="home py-5" id="inicio">
    <div class="container-lg">
      <div class="row min-vh-100 align-items-center align-content-center">
        <div class="col-md-6 mt-5 mt-md-0">
          <div class="home-img text-center">         
            <img [src]="ImagePath" class="rounded-circle mw-100" alt="profile img">   
          </div>
        </div>
        <div class="col-md-6 mt-5 mt-md-0 order-md-first">
          <div class="home-text">
            <p class="text-muted mb-1">Hola! Yo soy</p>
            <h1 class="text-dark text-uppercase fs-1 fw-bold">DAVID VELASCO.</h1>
            <h2 class="fs-4">Engineer Trainee / Sophos Solutions</h2>
            <p class="mt-4 text-muted">Ingeniero de Sistemas egresado de la Universidad CESMAG, con conocimiento técnico en varias herramientas y lenguajes de programación. Me relaciono con buenas aptitudes de trabajo y colaboración en equipo, disposición para aprendizaje, autodidacta, proactivo y buenas relaciones interpersonales. Alto grado de responsabilidad y muy comprometido con las tareas asignadas por mis superiores.
              </p>            
              <div class="row"> 
                <div class="col-md-5">                    
                    <div class="linkedin-item d-flex mb-3">
                        <a href="https://github.com/davovko/RetoFinal.git" class="btn px-3 btn-dark" role="button"><i class="fab fa-github"></i> GitHub</a>      
                        <a href="https://www.linkedin.com/in/david-velasco-c/" class="btn px-3 btn-primary" role="button"><i class="fab fa-linkedin-in"></i> LinkedIn</a>                                          
                    </div>                    
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-dark">   
                        <i class="fas fa-envelope"></i>               
                        </div>
                        <div class="text ms-3">        
                        <h3 class="fs-5">Email</h3>          
                        <p class="text-muted">davo.vko@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-dark">   
                        <i class="fas fa-phone"></i>               
                        </div>
                        <div class="text ms-3">        
                        <h3 class="fs-5">Teléfono</h3>          
                        <p class="text-muted">+57 318 222 0926</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-dark">   
                        <i class="fas fa-map-marker-alt"></i>               
                        </div>
                        <div class="text ms-3">        
                        <h3 class="fs-5">Ubicación</h3>          
                        <p class="text-muted">Pasto - Colombia</p>
                        </div>
                    </div>
                </div>               
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Fin Home-->